# macOS system files
.DS_Store
._*

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Project-specific directories to ignore
higgsdna_implementation/
old_enviroments_just_to_be_safe/
results/
run3_mvaID_models/

plots/
plotting_for_paper/
post_processing_script/
post_processing_script/paper_with_IC/
plot/validation_plots/
standalone_application/
standalone_application/*

.github/workflows/._*

# Logs
logs/
*.log

# Temporary files
*.tmp
*.swp
*~
*.err
